body {
    font-family: Arial, sans-serif;
    color: rgb(53, 53, 53);
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-image: url('../../BG/BGcodMobile.avif'); 
}

@media (min-width: 768px) {
    .bg {
        background-image: url('../../BG/BGcodbo6.png'); 
    }

    h2 {
        text-align: center;
        color: #ffa812;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #ffa812;
    }
}

h2 {
    text-align: center;
    color: #e4e4e4;
}

form {
    background-color: rgb(32, 32, 31);
    height: auto;
    padding-top: 20px;
    width: 50vw;
    margin-left: 25%;
    border-radius: 2rem;
    opacity: 92%;
    margin-top: 4vw;
}

.form-group {
    width: 20vw;
    margin-left: 5.3vw;
    margin-bottom: 3vw; 
}

label {
    padding-left: 10%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ff1212;
}

input {
    width: 200%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 1rem;
}

button {
    width: 100px;
    height: 60px;
    margin-bottom: 15px;
    margin-left: 20%;
    padding: 10px 15px;
    background-color: #ffa812;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 2rem;
}

button:hover {
    background-color: #f88400;
}