
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Evita barras de rolagem indesejadas */
}

/* O Container principal ocupa a tela inteira */
.quiz-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* A Imagem de fundo*/
.imagem-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem cobrir o fundo sem esticar errado */
    z-index: -1;  /* Garante que a imagem fique atrás do texto */
    object-position: center;     
}

/* A caixa do menu */
.menu-caixa {
    position: absolute;
    
    top: 25%; 
    left: 50%;
    transform: translate(-50%, -50%); 

    background-color: #e86a17; 
    
    width: 45vw; 
    height: 20vw;
    
    padding: 1vw 2vw;
    border: 0.5vw solid #000;
    box-shadow: 0.8vw 0.8vw 0px #000;
    text-align: center;
    
    /* Garante que o conteúdo não vaze */
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'Mario';
    src: url('../../Fontes/Mario.ttf'); 
    font-weight: normal;
    font-style: normal;
}
/* O texto do Quiz */
.texto-quiz {
    margin: 0;
    color: white;
    font-family: Mario;
    
    /* font-size em 'vw' faz o texto ser responsivo ao tamanho da janela */
    font-size: 4vw; 
    
    text-shadow: 0.3vw 0.3vw 0px #000;
    white-space: nowrap;
}

.Botao-Iniciar, 
.Botao-Iniciar:visited, 
.Botao-Iniciar:active {
    position: absolute;
    display: inline-block;
    background: none;
    border: 0;
    top: 76%;
    left: 50%; 
    transform: translateX(-50%); /* Garante que o centro do botão fique no centro da tela */
    
    text-decoration: none;
    color: white !important; /* O !important garante que nada mude a cor */
    font-family: 'Mario', sans-serif; 
    
    text-shadow: 0.3vw 0.3vw 0px #000;
}

.Botao-Iniciar:hover {
    color: #ffcc00 !important;
    cursor: pointer;
}

/* Configurações para Celular (Telas menores que 768px) */
@media (max-width: 768px) {
    .menu-caixa {
        width: 85vw;    /* No celular a placa precisa ocupar quase a largura toda */
        height: auto;   /* Deixa a altura se ajustar ao texto */
        padding: 5vw;
        top: 30%;       /* Sobe um pouco mais a placa no mobile */
    }

    .texto-quiz {
        font-size: 8vw; /* Texto maior para ser legível no celular */
        white-space: normal; /* Permite que o texto quebre linha se necessário */
    }

    .Botao-Iniciar {
        font-size: 6vw; /* Botão maior para facilitar o toque com o dedo */
        top: 80%;       /* Ajusta a posição vertical */
        text-align: center;
    }
}